header{
    height: 118px;
}

#title h4{
    margin: 3px 0 0 0;
}

#title {
    margin: 25px 0 0 30px;
}

#header_left{
    flex-grow: 1;
    flex-basis:0px;
}

#header_mid{
    flex-basis: 920px;
    flex-shrink: 0;